
</br>
<div style="max-width:480px; margin:auto;">

<div class="card">
  <h5 class="card-header">Editing Pin</h5>
  <div class="card-body">
   <%= render 'form', pin: @pin %>
   <br/>
   <%= link_to 'Show', @pin, class:'btn btn-secondary btn-sm' %> 
   <%= link_to 'Back', pins_path , class:'btn btn-secondary btn-sm'%>
 </div>
 </div>
 </div>