<div class="container">
<br/>

<div class="card text-center">
  <div class="card-header fw-bold">
    Pinterested
  </div>
  <div class="card-body">
    <h5 class="card-title">Erdem TOPAL's pinterested</h5>
    <p class="card-text">You can reach me for anything else you want via  erdemtopals@gmail.com</p>
  </div>
  <div class="card-footer text-muted">
    www.pinterdem.herokuapp.com
  </div>
</div>

</div>