
</br>
 <div class="col-md-12">
        <div class="text-start h-100 p-5 bg-light border rounded-3">
          <h2>About Me</h2>
          <p>I'm a ruby on rails developer. You can reach me for any collaborations via erdemtopals@gmail.com</p>
        </div>
      </div>
